<h1>Hola</h1>
<%= link_to("Nuevo Usuario", users_new_path) %>
<% @users.each do |user| %>
<p><%= user.name %> | <%= user.email %> | <%= link_to("Editar", users_edit_path(user)) %> | <%= link_to("Eliminar", users_destroy_path(user), method: :delete, data: {confirm: 'Estais Seguro?????'}) %></p>
<% end %>